body{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url(../imagenes/fondo.png);
}

header{
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transform: scale(1.05);
}

main{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
    width: 85%;
    border-radius: 1rem;
    backdrop-filter: blur(6px);
}

section{
    margin-bottom: 4rem;
    line-height: 1.6;
    padding: 1rem;
}

img{
    width: 85%;
    max-width: 500px;
    border-radius: 1rem;
    display: block;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img:hover{
    transform: scale(1.02);
}

iframe{
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
    border-radius: 1rem;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

p{
    max-width: 90%;
    margin: auto;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

h1, h2{
    text-shadow: 0 0 10px rgba(white);
    color: white;
}

h1{
    letter-spacing: 0.2rem;
}

h2{
    margin-bottom: 2rem;
}

.mail{
    color: blue;
}